body {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1200px;
  margin: 0 auto 600px;
  padding: 2rem;
  text-align: center;
}

.SearchCard {
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 50px !important;
  margin: 1em;
  background-color: rgb(115, 127, 241) !important;
}

.read-the-docs {
  color: #888;
}

.inpSearch {
  display: flex;
  justify-content: center;
  margin-bottom: 10svh;
}

input[type=text]{
  width: 39svh;
}